<link rel="stylesheet" href="/css/user-cards.css" />

<%

let email = "";
let info = Astro.userAllowed.get(user.id);

email = info.email || "";

%>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
   feather.replace()
</script>
<div class="navbar-spacer dashboard__container dashboard__analytics">
<div class="dashboard__sidebar">
   <div class="dashboard__sidebar-profile">
      <img class="dashboard__sidebar-bot-image"
         src="/user/<%= user.id %>/avatar" draggable="false">
      <div class="dashboard__sidebar-username">
         <%= user.username %>
      </div>
   </div>
   <div class="dashboard__sidebar-section">
      <div class="dashboard__sidebar-section-title">
         General
      </div>
      <div class="dashboard__sidebar-section-options">
         <a class="dashboard__sidebar-section-option <% if(Page === "Me") { %> selected <% } %> "
            href="<% if(Page === "Me") { %> # <% } else { %> /me <% } %>">
            <i data-feather="user" class="dashboard__sidebar-section-icon"></i>
            <div class="dashboard__sidebar-section-option-text">
               <span class="dashboard__sidebar-section-link">User Info</span>
            </div>
         </a>
         <a class="dashboard__sidebar-section-option <% if(Page === "Servers") { %> selected <% } %> "
            href="/me/servers">
            <i data-feather="server" class="dashboard__sidebar-section-icon"></i>
            <div class="dashboard__sidebar-section-option-text">
               <span class="dashboard__sidebar-section-link">Servers</span>
               <div class="pill"> Soon</div>
            </div>
         </a> 



         <!-- last card -->
         <hr/>
         <a class="dashboard__sidebar-section-option"
            onClick="location.href='/logout';">
            <i data-feather="log-out" class="dashboard__sidebar-section-icon"></i>
            <div class="dashboard__sidebar-section-option-text">
               <span class="dashboard__sidebar-section-link">Logout</span>
            </div>
         </a>
         
      </div>
   </div>
</div>
