<!DOCTYPE html> 
<html lang="en">
   <head>
      <title>Astro Dev | Error</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
      <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
      <link rel="manifest" href="/images/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
   </head>
   <body>
      <style>
         * {
         margin: 0;
         padding: 0;
         }
         header {
         background-color:rgba(33, 33, 33, 0.9);
         color:#ffffff;
         display:block;
         font: 14px/1.3 Arial,sans-serif;
         height:50px;
         position:relative;
         z-index:5;
         }
         h2{
         margin-top: 30px;
         text-align: center;
         }
         header h2{
         font-size: 22px;
         margin: 0 auto;
         padding: 10px 0;
         width: 80%;
         text-align: center;
         }
         header a, a:visited {
         text-decoration:none;
         color:#fcfcfc;
         }
         @keyframes move-twink-back {
         from {background-position:0 0;}
         to {background-position:-10000px 5000px;}
         }
         @-webkit-keyframes move-twink-back {
         from {background-position:0 0;}
         to {background-position:-10000px 5000px;}
         }
         @-moz-keyframes move-twink-back {
         from {background-position:0 0;}
         to {background-position:-10000px 5000px;}
         }
         @-ms-keyframes move-twink-back {
         from {background-position:0 0;}
         to {background-position:-10000px 5000px;}
         }
         @keyframes move-clouds-back {
         from {background-position:0 0;}
         to {background-position:10000px 0;}
         }
         @-webkit-keyframes move-clouds-back {
         from {background-position:0 0;}
         to {background-position:10000px 0;}
         }
         @-moz-keyframes move-clouds-back {
         from {background-position:0 0;}
         to {background-position:10000px 0;}
         }
         @-ms-keyframes move-clouds-back {
         from {background-position: 0;}
         to {background-position:10000px 0;}
         }
         .stars, .twinkling, .clouds {
         position:absolute;
         top:0;
         left:0;
         right:0;
         bottom:0;
         width:100%;
         height:100%;
         display:block;
         }
         .stars {
         background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
         z-index:0;
         }
         .twinkling{
         background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
         z-index:1;
         -moz-animation:move-twink-back 200s linear infinite;
         -ms-animation:move-twink-back 200s linear infinite;
         -o-animation:move-twink-back 200s linear infinite;
         -webkit-animation:move-twink-back 200s linear infinite;
         animation:move-twink-back 200s linear infinite;
         }
         .clouds{
         background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
         z-index:3;
         -moz-animation:move-clouds-back 200s linear infinite;
         -ms-animation:move-clouds-back 200s linear infinite;
         -o-animation:move-clouds-back 200s linear infinite;
         -webkit-animation:move-clouds-back 200s linear infinite;
         animation:move-clouds-back 200s linear infinite;
         }
         .post-header { margin-bottom: 30px; position: relative; }
         h1 { color: #c9d0d4; font-family: 'Helvetica Neue', sans-serif; font-size: 26px; font-weight: 100; line-height: 50px; letter-spacing: 1px; padding: 0 0 40px; }
         p { color: #bbc3c8; font-family: 'Verdana', sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }
         .button{
         display: inline-block;
         background: #000;
         border-radius: 4px;
         font-size: 26px;
         padding: 8px 12px;
         cursor: pointer;   
         text-decoration: underline;
         }
      </style>
      <div class="stars"></div>
      <div class="twinkling">
         <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
         <center>
            <h1>
            Oops, something went wrong here's an error for you; <br/>
            <bold>
            <%= message %>
            <bold>
            <br> 
            <h1 class="button" onClick="window.location.reload();">Refresh</h1>
            or 
            <h1 class="button" onclick="location.href='/';">Go Home</button> </h1>
         </center>
      </div>