<%- include('./Blocks/Header.ejs', { Astro, user, Page, Redirect: "/me", pageType: "" }) %>
<%- include('./Blocks/nav-bar.ejs') %>

<style>

body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.hwrapper {
    height: 100vh;
    width: 100vw;
    padding: 0;
    position: relative;
}

.hwrapper > * {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

video {
    right: 0;
    bottom: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: -20;
}

.header {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.himg {
    height: 100px;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.header > h1 {
    font-size: 4rem;
    line-height: 64px;
    margin-bottom: 1rem;
    color: #5161ce;
    margin: 0;
}

.header > h3 {
    max-width: 50vw;
    font-size: 1.5rem;
    text-align: center;
    color: #5161ce;
    line-height: 30px;
    margin-bottom: 3rem;
}

.header > h3 > i {
    font-style: normal;
    font-weight: normal;
    color: #5161ce;
}

.mbtn {
    background: #00caff;
    background: linear-gradient(225deg, #00caff, #0066ff);
    color: white;
    padding: 15px 60px 10px;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 34px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-right: 25px;
}

.lbtn {
    background-color: black;
    color: white;
    padding: 15px 60px 10px;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 34px;
}

.mbtn:hover {
    box-shadow: 3px 4px 12px rgba(0, 0, 0, .5);
}

.lbtn:hover {
    background-color: #252525;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, .5);
}

.about-wrapper {
    background-color: rgba(0,0,0,0);
    min-height: 50vh;
}

.about {
    padding: 0 25vw 0 5vw;
    -webkit-box-sizing: border-box;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0); 
}

.about > p {
    margin-right: 25vw;
    font-size: 1.125rem;
}

.reviews-wrapper {
    min-height: 50vh;
    width: 100vw;
    background-color: rgba(0,0,0,0);
}

.reviews {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    background-color: rgba(0,0,0,0);
}

.reviews > p {
    margin-bottom: 1rem;
}

.review-slides {
    height: 25vh;
}

.review-slide {
    background: linear-gradient(225deg, #00caff, #0066ff);
    border-radius: 25px;
    height: 25vh;
    width: 65vw;
    margin: 0 17.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-slide > * { color: white; }
.review-slide > h2 > * { color: white; }

.review-slide > h2 {
    margin-bottom: 1rem;
}

.slides-wrapper {
    position: relative;
}

.slides-wrapper > * {
    position: absolute;
    top: 0;
    left: 0;
}

.slides-arrows {
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 0 5vw;
    justify-content: space-between;
    align-items: center;
}

.slides-arrows > * {
    font-size: 2.5rem;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
    z-index: 1;
    color: #989898;
    text-decoration: none;
}
.fa-arrow-circle-left:hover, .fa-arrow-circle-right:hover {
    color: #000000;
}

.pricing-wrapper {
    min-height: 100vh;
    background-color: rgba(0,0,0,0);
}

.pricing {
    background-color: rgba(0,0,0,0);
}

.pricing-content {
    min-height: 100vh;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-content > * {
    color: white;
}

.pricing-content > p {
    text-align: center;
    margin-bottom: 2rem;
}

.pitems {
    display: flex;
}

.pitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(225deg, #00caff, #0066ff);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .5);
    padding: 25px;
    margin: 15px;
    min-height: 25vh;
    width: 20vw;
}

.pitem > * {
    color: white;
    text-align: center;
}

.pitem > i {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 30px;
    width: 112px;
    height: 112px;
    border: 1px solid white;
    border-radius: 50%;
}

.pitem > p {
    margin-top: .5rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.order-wrapper {
    min-height: 50vh;
}

.order {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order > p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.footer-wrapper {
    min-height: 50vh;
    
}

.footer {
    min-height: 50vh;
    width: 100vw;
    padding: 25px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer > .fnormal {
    display: flex;
    flex-direction: column;
}

.footer > div > * { color: white; }

.footer > div > a {
    text-decoration: none;
    margin: 2px;
    font-size: 1.125rem;
    color: white;
}

.footer > div > a:hover {
    text-decoration: underline;
    margin: 2px;
    color: white;
}

.footer > div > h4 {
    margin: 2px;
    font-size: 1.25rem;
    color: white;
}

.fmain > img {
    width: 100px;
    height: 100px;
    color: white;
    margin-right: 15px;
}

.fmain {
    display: flex;
    align-items: center;
}

.fmain > div > p { 
    color: white;
    margin-bottom: .5rem;
}

.fmain > div > h2 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.socials {
    display: flex;
}

.socials > a {
    margin: 2px 25px 2px 0;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

</style>

<link rel="stylesheet" href="/assets/slick.css">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="assets/slick.css"/>
<script type="text/javascript" src="assets/slick.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<script>
   // Change nav on scroll
   $(function () {
       $(document).scroll(function () {
       var $nav = $(".nav");
       $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
       });
   });
   // Review carousel
   $(document).ready(function(){
       $('.review-slides').slick({
           autoplay: true,
           arrows: true,
           pauseOnHover: true,
           infinite: true,
           slidesToShow: 1,
           slidesToScroll: 1,
           prevArrow: $('.fa-arrow-circle-left'),
           nextArrow: $('.fa-arrow-circle-right')
       });
   });
   // AOS
   $(function() {
       AOS.init({
           duration: 1000
       });
   });
</script>
</head>
<div class="hwrapper" id="top">
   <div class="header" data-aos="fade">
      <img class="himg" src="/images/favicon-96x96.png" />
      <h1><span style="color: #5161ce">Astronomy Development</span></h1>
      <h3><span style="color: #5161ce">Cheap, Fast And Reliable Hosting</span></h3>
      <div><a href="https://panel.astrobot.org" class="mbtn" >Astro Panel</a><a href="https://host.astrobot.org/me" class="lbtn" >My Account</a></div>
   </div>
</div>
<div class="pricing-wrapper" id="services">
<div class="pricing">
   <div class="pricing-content" data-aos="zoom-out-up">
      <h1>Our Services</h1>
      <p>Here Are Some Of The Services We Provide At Astronomy Development</p>
      <br />
      <div class="pitems">
         <div class="pitem">
            <i class="fas fa-globe"></i>
            <h2>Node.JS Web Hosting</h2>
            <p>We Can Host Your Site And Even Link Up Your Domain</p>
         </div>
         <div class="pitem">
            <i class="fas fa-gamepad"></i>
            <h2>Game Server Hosting</h2>
            <p>Need A Game Server? We Have Minecraft And More</p>
         </div>
         <div class="pitem">
            <i class="fab fa-discord"></i>
            <h2>Discord Bot Hosting</h2>
            <p>Host Your Own Discord Bot With Us</p>
         </div>
      </div>
   </div>
   <div class="order-wrapper" id="order">
      <div class="order" data-aos="fade">
         <h1>And So Much More</h1>
         <h1>Ready To Get Started?</h1>
         <p></p>
         <a class="mbtn" href="https://discord.com/invite/duAzNKm">Join Our Discord Today!</a>
      </div>
   </div>
</div>