
* {
    font-family: "Karla", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
button, a {
    cursor: pointer;
}
a {
    color: var(--link);
}
a:hover {
    color: var(--link);
}
p {
    font-weight: 400;
}
:root {
    --input-background:  #fff;
}
[data-theme=dark] {
    --input-background:  #34363a;
}
.input-with-btn {
    border-radius: inherit;
    position: relative;
    z-index: 1;
    display: flex;
    background-color: var(--input-background);
    font: 400 18px "Karla", sans-serif;
}
.input-with-btn button {
    font: inherit;
    border-radius: inherit;
    padding: 0 1rem;
    color: var(--text);
    border: none;
    background-color: var(--input-background);
    text-transform: uppercase;
}
.input-with-btn button:hover {
    background: var(--background-secondary);
}
.input-with-btn input {
    font: inherit;
    border-radius: inherit;
    background-color: var(--input-background);
    color: var(--text);
    flex: 1;
    padding: 1rem;
}
.input-with-btn input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.input-with-btn input::placeholder {
    color: var(--text-secondary);
    font-style: italic;
}
@font-face {
    font-family: "Karla";
    font-weight: 400;
    src: url(/fonts/Karla-Regular.ttf);
}
@font-face {
    font-family: "Karla";
    font-weight: 600;
    src: url(/fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: "Jetbrains Mono";
    src: url(https://cdn.top.gg/fonts/Jetbrains-Mono/JetBrainsMono-Regular.woff2) format("woff2");
}
@keyframes topFadeOut {
    0% {
    top: -3rem;
    opacity: 0;
}
75% {
    top: 25%;
    opacity: 1;
}
100% {
    opacity: 1;
}
}@keyframes bottomFadeOut {
    0% {
    bottom: -5rem;
    opacity: 0;
}
75% {
    bottom: 25%;
    opacity: 1;
}
100% {
    opacity: 1;
}
}@keyframes is-this-possible {
    0% {
    background-position: 0;
}
to {
    background-position: 110%}
}:root {
    --background:  white;
    --background-action:  #82a8d7;
    --background-secondary:  #fbfbfb;
    --background-tertiary:  #f1f1f1;
    --text:  #0e0e0e;
    --text-secondary:  #1c1c1c;
    --text-tertiary:  var(--light-blue-description);
    --text-blue:  #364152;
    --text-erased:  #8a8a8a;
    --link:  #318ddd;
    --x-text:  white;
    --x-text-secondary:  #f9f8ff;
    --x-text-tertiary:  #f1f1f1;
    --light-blue-description:  #334950;
    --subtle-gray:  #f2f2f2;
    --border-regular:  2px solid var(--text-secondary);
    --border-subtle:  2px solid var(--subtle-gray);
    --border-subtle-thin:  1px solid var(--subtle-gray);
    --dark-blue-header:  #0b1146;
    --theme-color:  rgb(114,  137,  218);
    --variable-theme-color:  var(--theme-color);
    --variable-theme-color-secondary:  #8fa3e9;
    --monospace-fonts:  "JetBrains Mono",  Menlo,  Monaco,  Consolas,  "lucida console",  monospace;
    --layered-shadow:  0 1px 1px rgba(0,  0,  0,  0.15),  0 2px 2px rgba(0,  0,  0,  0.15),  0 4px 4px rgba(0,  0,  0,  0.15),  0 8px 8px rgba(0,  0,  0,  0.15);
}
[data-theme=dark] {
    --background:  #1d1f21;
    --background-action:  #8bfffa;
    --background-secondary:  #222428;
    --background-tertiary:  #2c3035;
    --text:  white;
    --text-secondary:  #f9f8ff;
    --text-tertiary:  #dedede;
    --text-blue:  #99a4b7;
    --text-erased:  #888888;
    --link:  #8ad6f1;
    --x-text:  black;
    --x-text-secondary:  #1c1c1c;
    --x-text-tertiary:  #f1f1f1;
    --light-blue-description:  #99a9b5;
    --subtle-gray:  #33343b;
    --dark-blue-header:  #b6bef1;
    --variable-theme-color:  var(--background);
    --variable-theme-color-secondary:  var(--background-tertiary);
}
.text-regular {
    color: var(--text);
}
.text-secondary {
    color: var(--text-secondary);
}
.longdescription .content blockquote, .longdescription .content textarea, .longdescription .content input {
    background: var(--background-tertiary);
    color: var(--text-tertiary);
}
pre {
    background: var(--background-tertiary);
    color: var(--text-tertiary);
    border: var(--border-subtle-thin);
}
code {
    font-size: .85rem;
    border-radius: 3px;
    padding: 2px 6px;
    background: var(--background-secondary);
    border: var(--border-subtle-thin);
}
.content ul {
    font-weight: normal;
}
.content h1, .content h2, .content h3, .content h4 {
    color: var(--text);
}
.content h3, .content h4, .content h5, .content h6, .content p, .content td {
    color: var(--text-tertiary);
}
.content table thead td, .content table thead th {
    color: var(--text-secondary);
}
.content *:not(.no-styles) td, .content *:not(.no-styles) th {
    border: var(--border-subtle-thin);
    color: var(--text-tertiary);
}
.message.is-info .message-body {
    background-color: var(--background-secondary);
}
@media screen and (max-width: 768px) {
    .mobile-text-centered {
    text-align: center;
}
.reverse-row-order {
    display: flex;
    flex-direction: column-reverse;
}
}.flexbox {
    display: flex-inline;
    flex-wrap: nowrap;
}
.flexbox .stretch {
    flex: 1;
}
.flexbox .normal {
    flex: 0;
    margin: 0 0 0 2px;
}
.flexbox div input {
    width: 100%}
.flexbox div a {
    white-space: nowrap;
}
.is-fullhd {
    width: 100%}
.flex {
    display: flex;
}
.flex.center-vertical {
    align-items: center;
}
.flex.center-horizonal {
    justify-content: center;
}
.flex.space-between {
    justify-content: space-between;
}
.relative {
    position: relative;
}
.stretch {
    width: 100%}
@media screen and (max-width: 768px) {
    .flex.break-mobile {
    display: block;
}
.flex.stretch-mobile {
    flex-grow: 1;
}
.stretch-mobile {
    width: 100%}
}img.round {
    border-radius: 100%}
img.pilled {
    border-radius: 8px;
}
:root {
    --rose-50:  #fff1f2;
    --rose-100:  #ffe4e6;
    --rose-200:  #fecdd3;
    --rose-300:  #fda4af;
    --rose-400:  #fb7185;
    --rose-500:  #f43f5e;
    --rose-600:  #e11d48;
    --rose-700:  #be123c;
    --rose-800:  #9f1239;
    --rose-900:  #881337;
    --pink-50:  #fdf2f8;
    --pink-100:  #fce7f3;
    --pink-200:  #fbcfe8;
    --pink-300:  #f9a8d4;
    --pink-400:  #f472b6;
    --pink-500:  #ec4899;
    --pink-600:  #db2777;
    --pink-700:  #be185d;
    --pink-800:  #9d174d;
    --pink-900:  #831843;
    --fuchsia-50:  #fdf4ff;
    --fuchsia-100:  #fae8ff;
    --fuchsia-200:  #f5d0fe;
    --fuchsia-300:  #f0abfc;
    --fuchsia-400:  #e879f9;
    --fuchsia-500:  #d946ef;
    --fuchsia-600:  #c026d3;
    --fuchsia-700:  #a21caf;
    --fuchsia-800:  #86198f;
    --fuchsia-900:  #701a75;
    --purple-50:  #faf5ff;
    --purple-100:  #f3e8ff;
    --purple-200:  #e9d5ff;
    --purple-300:  #d8b4fe;
    --purple-400:  #c084fc;
    --purple-500:  #a855f7;
    --purple-600:  #9333ea;
    --purple-700:  #7e22ce;
    --purple-800:  #6b21a8;
    --purple-900:  #581c87;
    --violet-50:  #f5f3ff;
    --violet-100:  #ede9fe;
    --violet-200:  #ddd6fe;
    --violet-300:  #c4b5fd;
    --violet-400:  #a78bfa;
    --violet-500:  #8b5cf6;
    --violet-600:  #7c3aed;
    --violet-700:  #6d28d9;
    --violet-800:  #5b21b6;
    --violet-900:  #4c1d95;
    --indigo-50:  #eef2ff;
    --indigo-100:  #e0e7ff;
    --indigo-200:  #c7d2fe;
    --indigo-300:  #a5b4fc;
    --indigo-400:  #818cf8;
    --indigo-500:  #6366f1;
    --indigo-600:  #4f46e5;
    --indigo-700:  #4338ca;
    --indigo-800:  #3730a3;
    --indigo-900:  #312e81;
    --blue-50:  #eff6ff;
    --blue-100:  #dbeafe;
    --blue-200:  #bfdbfe;
    --blue-300:  #93c5fd;
    --blue-400:  #60a5fa;
    --blue-500:  #3b82f6;
    --blue-600:  #2563eb;
    --blue-700:  #1d4ed8;
    --blue-800:  #1e40af;
    --blue-900:  #1e3a8a;
    --light-blue-50:  #f0f9ff;
    --light-blue-100:  #e0f2fe;
    --light-blue-200:  #bae6fd;
    --light-blue-300:  #7dd3fc;
    --light-blue-400:  #38bdf8;
    --light-blue-500:  #0ea5e9;
    --light-blue-600:  #0284c7;
    --light-blue-700:  #0369a1;
    --light-blue-800:  #075985;
    --light-blue-900:  #0c4a6e;
    --cyan-50:  #ecfeff;
    --cyan-100:  #cffafe;
    --cyan-200:  #a5f3fc;
    --cyan-300:  #67e8f9;
    --cyan-400:  #22d3ee;
    --cyan-500:  #06b6d4;
    --cyan-600:  #0891b2;
    --cyan-700:  #0e7490;
    --cyan-800:  #155e75;
    --cyan-900:  #164e63;
    --teal-50:  #f0fdfa;
    --teal-100:  #ccfbf1;
    --teal-200:  #99f6e4;
    --teal-300:  #5eead4;
    --teal-400:  #2dd4bf;
    --teal-500:  #14b8a6;
    --teal-600:  #0d9488;
    --teal-700:  #0f766e;
    --teal-800:  #115e59;
    --teal-900:  #134e4a;
    --emerald-50:  #ecfdf5;
    --emerald-100:  #d1fae5;
    --emerald-200:  #a7f3d0;
    --emerald-300:  #6ee7b7;
    --emerald-400:  #34d399;
    --emerald-500:  #10b981;
    --emerald-600:  #059669;
    --emerald-700:  #047857;
    --emerald-800:  #065f46;
    --emerald-900:  #064e3b;
    --green-50:  #f0fdf4;
    --green-100:  #dcfce7;
    --green-200:  #bbf7d0;
    --green-300:  #86efac;
    --green-400:  #4ade80;
    --green-500:  #22c55e;
    --green-600:  #16a34a;
    --green-700:  #15803d;
    --green-800:  #166534;
    --green-900:  #14532d;
    --lime-50:  #f7fee7;
    --lime-100:  #ecfccb;
    --lime-200:  #d9f99d;
    --lime-300:  #bef264;
    --lime-400:  #a3e635;
    --lime-500:  #84cc16;
    --lime-600:  #65a30d;
    --lime-700:  #4d7c0f;
    --lime-800:  #3f6212;
    --lime-900:  #365314;
    --yellow-50:  #fefce8;
    --yellow-100:  #fef9c3;
    --yellow-200:  #fef08a;
    --yellow-300:  #fde047;
    --yellow-400:  #facc15;
    --yellow-500:  #eab308;
    --yellow-600:  #ca8a04;
    --yellow-700:  #a16207;
    --yellow-800:  #854d0e;
    --yellow-900:  #713f12;
    --amber-50:  #fffbeb;
    --amber-100:  #fef3c7;
    --amber-200:  #fde68a;
    --amber-300:  #fcd34d;
    --amber-400:  #fbbf24;
    --amber-500:  #f59e0b;
    --amber-600:  #d97706;
    --amber-700:  #b45309;
    --amber-800:  #92400e;
    --amber-900:  #78350f;
    --orange-50:  #fff7ed;
    --orange-100:  #ffedd5;
    --orange-200:  #fed7aa;
    --orange-300:  #fdba74;
    --orange-400:  #fb923c;
    --orange-500:  #f97316;
    --orange-600:  #ea580c;
    --orange-700:  #c2410c;
    --orange-800:  #9a3412;
    --orange-900:  #7c2d12;
    --red-50:  #fef2f2;
    --red-100:  #fee2e2;
    --red-200:  #fecaca;
    --red-300:  #fca5a5;
    --red-400:  #f87171;
    --red-500:  #ef4444;
    --red-600:  #dc2626;
    --red-700:  #b91c1c;
    --red-800:  #991b1b;
    --red-900:  #7f1d1d;
    --warm-gray-50:  #fafaf9;
    --warm-gray-100:  #f5f5f4;
    --warm-gray-200:  #e7e5e4;
    --warm-gray-300:  #d6d3d1;
    --warm-gray-400:  #a8a29e;
    --warm-gray-500:  #78716c;
    --warm-gray-600:  #57534e;
    --warm-gray-700:  #44403c;
    --warm-gray-800:  #292524;
    --warm-gray-900:  #1c1917;
    --true-gray-50:  #fafafa;
    --true-gray-100:  #f5f5f5;
    --true-gray-200:  #e5e5e5;
    --true-gray-300:  #d4d4d4;
    --true-gray-400:  #a3a3a3;
    --true-gray-500:  #737373;
    --true-gray-600:  #525252;
    --true-gray-700:  #404040;
    --true-gray-800:  #262626;
    --true-gray-900:  #171717;
    --gray-50:  #fafafa;
    --gray-100:  #f4f4f5;
    --gray-200:  #e4e4e7;
    --gray-300:  #d4d4d8;
    --gray-400:  #a1a1aa;
    --gray-500:  #71717a;
    --gray-600:  #52525b;
    --gray-700:  #3f3f46;
    --gray-800:  #27272a;
    --gray-900:  #18181b;
    --cool-gray-50:  #f9fafb;
    --cool-gray-100:  #f3f4f6;
    --cool-gray-200:  #e5e7eb;
    --cool-gray-300:  #d1d5db;
    --cool-gray-400:  #9ca3af;
    --cool-gray-500:  #6b7280;
    --cool-gray-600:  #4b5563;
    --cool-gray-700:  #374151;
    --cool-gray-800:  #1f2937;
    --cool-gray-900:  #111827;
    --blue-gray-50:  #f8fafc;
    --blue-gray-100:  #f1f5f9;
    --blue-gray-200:  #e2e8f0;
    --blue-gray-300:  #cbd5e1;
    --blue-gray-400:  #94a3b8;
    --blue-gray-500:  #64748b;
    --blue-gray-600:  #475569;
    --blue-gray-700:  #334155;
    --blue-gray-800:  #1e293b;
    --blue-gray-900:  #0f172a;
}
.banner-hidden {
    display: none !important;
}
.banner-icon {
    margin-right: 10px;
}
.banner-content {
    display: flex;
    align-items: center;
    text-align: left;
}
@media(max-width: 800px) {
    .banner-content {
    flex-direction: column;
    align-items: flex-start;
}
}.banner-content>.spaced {
    margin-right: 6px;
}
.banner-root {
    padding: 25px 10px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}
.banner-root a {
    color: #2b8de2;
}
.banner-root a:hover {
    text-decoration: underline;
}
.banner-root>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-root .twemoji {
    width: 20px;
    height: 20px;
}
.banner-close {
    cursor: pointer;
    width: 25px;
}
@media(max-width: 700px) {
    .banner-close {
    width: 40px;
}
}.banner-dark {
    background: #313338;
    color: #fff;
}
.banner-light {
    background: #f7f7f7;
}
.bot__queue-message-parent {
    color: var(--text-tertiary);
}
.bot__queue-message-title {
    font-weight: 900;
    font-size: 1.2rem;
}
.bot__queue-image {
    display: flex;
    width: 350px;
}
.bot__metadata-parent {
    padding: 0 20px !important;
}
.bot__queue-indicator-parent {
    display: grid;
    border: var(--border-subtle-thin);
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit,  1fr);
    margin-bottom: 15px;
}
.bot__queue-message-subtitle {
    color: var(--text-erased);
}
.bot__queue-indicator {
    background: var(--background-secondary);
    width: 100%;
    height: 20px;
}
.bot__queue-indicator.lit {
    background: var(--theme-color);
}
.bot__approval-section {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.bot__approval-controls {
    width: 100%;
    background: var(--background);
    display: grid;
    grid-auto-flow: row;
    border-top: var(--border-subtle-thin);
    border-bottom: var(--border-subtle-thin);
}
@media(min-width: 700px) {
    .bot__approval-controls {
    grid-auto-flow: column;
}
}.bot__approval-controls--button {
    padding: 15px 10px;
    width: 100%;
    text-align: center;
    color: var(--text);
    font-size: 14px;
    background: var(--background-secondary);
    border: none;
}
.bot__approval-controls--button a {
    font-weight: bold;
    color: var(--text);
}
.bot__approval-controls--button:hover {
    background: var(--background-tertiary);
}
.bot__approval-controls--button.approve {
    color: #0bca94;
}
.bot__approval-controls--button.decline {
    color: #ca0b47;
}
@media(min-width: 1200px) {
    .bot__approval-controls--button {
    font-size: 18px;
}
}#approvalwait {
    font-weight: bold;
    background-color: #f04747;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: middle;
    padding: 5px 12px;
}
.btn {
    border: none;
    background: none;
    transition: .2s ease-out all;
    cursor: pointer;
}
.btn:hover {
    opacity: .8;
}
.btn-orange {
    background: #ff9833;
    color: #fff;
    border-radius: 4px;
    display: block;
}
.btn-blue {
    background: #7289da;
    color: #fff;
    border-radius: 4px;
}
.btn-blue:hover {
    color: #fff;
}
.btn-red {
    background: #f33;
    color: #fff;
    border-radius: 4px;
}
.btn-x {
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 0 !important;
}
.btn-transparent {
    background: #fff;
    color: #334dad;
    font-size: 16px;
}
.btn-1x {
    font: 600 12px "Karla", sans-serif;
    padding: 5px 9px;
}
.btn-1xx {
    font: 600 14px "Karla", sans-serif;
    padding: 6px 10px;
}
.btn-2x {
    padding: 7px 14px;
    font: 600 18px "Karla", sans-serif;
}
.btn-2xx {
    padding: 7px 14px;
    font: 600 13px "Karla", sans-serif;
    background-color: none !important;
    background: transparent !important;
    color: #000 !important;
}
.btn-4x {
    padding: 12px 28px;
    font: 600 30px "Karla", sans-serif;
}
btn-x:hover {
    color: #fff !important;
}
.btn-like {
    display: inline-flex;
    align-items: center;
    border: solid 1px #ccd6f8;
    border-radius: 2px;
    padding: 2px 10px;
    font: 600 16px "Karla", sans-serif;
    color: #334dad;
}
.btn-like span {
    margin-left: 5px;
}
.bot-btns {
    border-top: 1px solid #eef1fa;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.bot-btns a {
    font: 600 20px "Karla", sans-serif;
}
.featuredbuttonss {
    margin-top: 10px;
    font-family: "Karla"}
.featurebuttonss .button {
    margin-top: 5px;
    padding: 100px !important;
}
@font-face {
    font-family: "Karla";
    font-weight: 400;
    src: url(/fonts/Karla-Regular.ttf);
}
@font-face {
    font-family: "Karla";
    font-weight: 600;
    src: url(/fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: "Jetbrains Mono";
    src: url(https://cdn.top.gg/fonts/Jetbrains-Mono/JetBrainsMono-Regular.woff2) format("woff2");
}
@media screen and (max-width: 768px) {
    .mobile-text-centered {
    text-align: center;
}
.reverse-row-order {
    display: flex;
    flex-direction: column-reverse;
}
}.flexbox {
    display: flex-inline;
    flex-wrap: nowrap;
}
.flexbox .stretch {
    flex: 1;
}
.flexbox .normal {
    flex: 0;
    margin: 0 0 0 2px;
}
.flexbox div input {
    width: 100%}
.flexbox div a {
    white-space: nowrap;
}
.is-fullhd {
    width: 100%}
.flex {
    display: flex;
}
.flex.center-vertical {
    align-items: center;
}
.flex.center-horizonal {
    justify-content: center;
}
.flex.space-between {
    justify-content: space-between;
}
.relative {
    position: relative;
}
.stretch {
    width: 100%}
@media screen and (max-width: 768px) {
    .flex.break-mobile {
    display: block;
}
.flex.stretch-mobile {
    flex-grow: 1;
}
.stretch-mobile {
    width: 100%}
}.bot-card {
    padding: 20px !important;
}
.bot-card .content {
    min-height: 330px;
    box-shadow: 4px 4px 0 0 #424f80, inset 4px 4px 0 0 rgba(204, 214, 248, .8), inset -4px -4px 0 0 #a5b3e6;
    position: relative;
    padding: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.bot-card .content>div {
    width: 100%}
.bot-card .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 105px;
}
@media screen and (max-width: 1023px) {
    .bot-card .top {
    min-height: 130px;
}
}.bot-card .top .status {
    margin: 0 auto;
    margin-top: 20px;
}
.bot-card .top .servers {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.bot-card .top .btn-like {
    margin: 0 auto;
}
.bot-card .info {
    margin-top: 20px;
    width: 100%}
.bot-card .bot-img {
    width: 130px;
    height: 130px;
    background: #7289da;
    position: absolute;
    top: -12px;
    left: -12px;
}
.bot-card .bot-img {
    box-shadow: 4px 4px 0 0 #424f80, inset 4px 4px 0 0 rgba(204, 214, 248, .8), inset -4px -4px 0 0 #a5b3e6;
}
.bot-img img {
    background: transparent !important;
}
.bot-card {
    transition: .2s transform linear;
}
.bot-card:hover {
    transform: translateY(-10px);
}
.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3px;
    height: 100%;
    flex: 1;
}
@media screen and (max-width: 768px) {
    .bot-card .content {
    min-height: 210px;
}
.bot-card .info {
    margin-bottom: 20px;
}
.bot-card .stats {
    margin-top: 0;
}
.bot-card .bot-img {
    margin-left: 0;
    margin-top: 0;
}
}@media screen and (max-width: 490px) {
    .bot-card .info {
    margin-bottom: 20px;
}
.bot-card .stats {
    margin-top: 0;
}
}.bot-number {
    line-height: 1;
    font-size: 28px;
    top: -12px;
    right: -15px;
    position: absolute;
    font-weight: 700;
    padding: 4px 10px;
    background: #fff;
    box-shadow: 0 0px 4px rgba(0, 0, 0, .4);
    color: #2d2f3b;
}
.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #21ba45;
    text-transform: uppercase;
    font: 700 12px "Karla", sans-serif;
    position: relative;
    padding-left: 15px;
    width: 58px;
}
.status:before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #21ba45;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.bot-description {
    font: 400 14px "Karla", sans-serif;
    color: #424f80;
    line-height: 1.36;
    margin-top: 10px;
    max-width: 100%;
    max-height: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tos {
    white-space: pre-wrap;
    font: 200 16px "Karla", sans-serif;
}
.tos p {
    font: 500 25px "Karla", sans-serif;
    margin: 0 !important;
}
@media screen and (max-width: 1200px) {
    .bot-card .top {
    flex-direction: column;
}
.bot-card .bot-img {
    margin-left: 20px;
    margin-top: 20px;
}
.bot-card .stats {
    margin-top: 140px;
}
}@media screen and (max-width: 768px) {
    .bot-card .top .btn-like {
    margin: 0;
}
.bot-card .top .status {
    margin: 0;
    order: 1;
    margin-left: auto;
}
.bot-card .top .servers {
    margin: 0;
    margin-top: 0;
    margin-left: 20px;
}
.bot-card .stats {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%}
}
strong {
    color: inherit;
}
.custom-context {
    position: absolute;
    top: 100px;
    left: 100px;
    background: #fff;
    width: 260px;
    height: auto;
    z-index: 100000;
    border: 1px solid #bababa;
    box-shadow: 5px 5px 4px -3px rgba(0, 0, 0, .4);
    padding: 4px 0;
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;
}
.custom-context ul {
    display: flex;
    flex-direction: column;
}
.custom-context li {
    padding: 0 30px;
    font-size: .72em;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 24px;
    cursor: default;
}
.custom-context li:hover {
    background: #ebebeb;
}
.custom-context .splitter {
    margin: 4px 0;
    border-top: 1px solid #e9e9e9;
}
:root {
    --sidebar-section-header:  #898799;
    --sidebar-section-text:  var(--light-blue-description);
    --sidebar-section-hover:  #F8F8FC;
    --input-background:  white;
}
[data-theme=dark] {
    --sidebar-section-header:  #a7a5b8;
    --sidebar-section-text:  #c7d3dc;
    --sidebar-section-hover:  #292d2f;
    --input-background:  #34363a;
}
.pill {
    border-radius: 8px;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 10px;
    background: var(--background-tertiary);
    color: var(--light-blue-description);
}
.dashboard__container #github-import-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.link-color {
    color: #0b98ca;
}
.dashboard__container .required-tag {
    color: var(--dark-blue-header);
}
.dashboard__container .error {
    padding: 15px;
    margin-bottom: 0;
    box-shadow: unset !important;
}
.CodeMirror * {
    font-family: var(--monospace-fonts) !important;
    font-size: 12px;
    word-break: break-word;
}
@media(min-width: 1200px) {
    .CodeMirror * {
    font-size: 16px;
}
}.CodeMirror {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.CodeMirror-sizer {
    max-width: 100%}
.short-input {
    max-width: 550px;
}
.aligned-input {
    display: flex;
    align-items: center;
}
.dashboard__dsl-bot-display {
    display: flex;
    align-items: center;
}
.dashboard__dsl-bot-display input {
    margin-right: 8px;
}
.role-color-dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: block;
    margin: 0 6px;
    background-color: #4a4a4a;
}
.role-flex-row {
    display: flex;
    align-items: center;
}
.role-flex-row p {
    width: 100%}
.dashboard__sidebar-profile {
    position: relative;
    display: flex;
    padding: 25px;
}
.dashboard__sidebar-username {
    display: flex;
    align-items: center;
    line-height: 1.3;
    font-weight: bold;
    color: var(--dark-blue-header);
}
.dashboard__sidebar-bot-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    opacity: .15;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear,  right top,  right bottom,  from(#405cb1),  to(rgba(64,  92,  177,  0)));
}
.dashboard__sidebar-bot-image {
    border-radius: 4px;
    margin-right: 15px;
    max-width: 50px;
}
.dashboard__sidebar {
    border-top: var(--border-subtle);
    background: var(--background);
}
@media(min-width: 900px) {
    .dashboard__sidebar {
    border-right: var(--border-subtle);
}
}.dashboard__sidebar-section {
    padding: 10px 0;
    font-weight: bolder;
}
@media(min-width: 900px) {
    .dashboard__sidebar-section {
    padding: 25px;
}
}.dashboard__sidebar-section-title {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0 15px;
    margin-bottom: 10px;
    color: var(--sidebar-section-header);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}
.dashboard__sidebar-section-options {
    display: grid;
    position: sticky;
    gap: 5px;
}
.dashboard__sidebar-section-option {
    border-radius: 4px;
    grid-template-columns: 25px auto;
    grid-auto-flow: column;
    padding: 10px 15px;
    display: grid;
    gap: 8px;
    align-items: center;
    color: var(--sidebar-section-text);
    cursor: pointer;
}
.dashboard__sidebar-section-option-text {
    display: flex;
    justify-content: space-between;
}
.dashboard__sidebar-section-option:hover, .dashboard__sidebar-section-option.selected {
    color: var(--sidebar-section-text);
    background: var(--sidebar-section-hover);
}
.dashboard__sidebar-section-icon {
    margin-right: 8px;
    width: 25px;
}
.dashboard__sidebar-section-link {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%}
.dashboard__analytics-canvas-container {
    position: relative;
    max-width: 100% !important;
    width: 100%;
    min-height: 300px;
}
.dashboard__analytics-canvas {
    height: 100%}
.dashboard__analytics .header {
    color: var(--text-tertiary);
    font-size: 16px;
    font-weight: 600;
}
.dashboard__analytics-referrers {
    font-size: 12px;
    display: grid;
    column-gap: 15px;
    row-gap: 5px;
    width: 100%;
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
}
@media(min-width: 900px) {
    .dashboard__analytics-referrers {
    font-size: 16px;
}
}.dashboard__analytics-referrer-label {
    text-align: left;
    display: flex;
    align-items: center;
}
.dashboard__analytics-referrer-count {
    white-space: nowrap;
    color: var(--sidebar-section-text);
    text-align: right;
}
.dashboard__analytics-row {
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(3,  1fr);
}
@media(min-width: 900px) {
    .dashboard__analytics-row {
    grid-template-columns: repeat(2,  1fr);
}
}@media(min-width: 1400px) {
    .dashboard__analytics-row {
    grid-template-rows: auto;
    grid-template-columns: repeat(3,  1fr);
}
}.country-icon {
    max-width: 30px;
    margin-right: 8px;
    border: var(--border-subtle-thin);
}
:root {
    --sidebar-section-header:  #898799;
    --sidebar-section-text:  var(--light-blue-description);
    --sidebar-section-hover:  #F8F8FC;
    --input-background:  white;
}
[data-theme=dark] {
    --sidebar-section-header:  #a7a5b8;
    --sidebar-section-text:  #c7d3dc;
    --sidebar-section-hover:  #292d2f;
    --input-background:  #34363a;
}
.pill {
    border-radius: 8px;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 10px;
    background: var(--background-tertiary);
    color: var(--light-blue-description);
}
.dashboard__container #github-import-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.link-color {
    color: #0b98ca;
}
.dashboard__container .required-tag {
    color: var(--dark-blue-header);
}
.dashboard__container .error {
    padding: 15px;
    margin-bottom: 0;
    box-shadow: unset !important;
}
.CodeMirror * {
    font-family: var(--monospace-fonts) !important;
    font-size: 12px;
    word-break: break-word;
}
@media(min-width: 1200px) {
    .CodeMirror * {
    font-size: 16px;
}
}.CodeMirror {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.CodeMirror-sizer {
    max-width: 100%}
.short-input {
    max-width: 550px;
}
.aligned-input {
    display: flex;
    align-items: center;
}
.dashboard__dsl-bot-display {
    display: flex;
    align-items: center;
}
.dashboard__dsl-bot-display input {
    margin-right: 8px;
}
.role-color-dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: block;
    margin: 0 6px;
    background-color: #4a4a4a;
}
.role-flex-row {
    display: flex;
    align-items: center;
}
.role-flex-row p {
    width: 100%}
.dashboard__sidebar-profile {
    position: relative;
    display: flex;
    padding: 25px;
}
.dashboard__sidebar-username {
    display: flex;
    align-items: center;
    line-height: 1.3;
    font-weight: bold;
    color: var(--dark-blue-header);
}
.dashboard__sidebar-bot-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    opacity: .15;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear,  right top,  right bottom,  from(#405cb1),  to(rgba(64,  92,  177,  0)));
}
.dashboard__sidebar-bot-image {
    border-radius: 4px;
    margin-right: 15px;
    max-width: 50px;
}
.dashboard__sidebar {
    border-top: var(--border-subtle);
    background: var(--background);
}
@media(min-width: 900px) {
    .dashboard__sidebar {
    border-right: var(--border-subtle);
}
}.dashboard__sidebar-section {
    padding: 10px 0;
    font-weight: bolder;
}
@media(min-width: 900px) {
    .dashboard__sidebar-section {
    padding: 25px;
}
}.dashboard__sidebar-section-title {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0 15px;
    margin-bottom: 10px;
    color: var(--sidebar-section-header);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}
.dashboard__sidebar-section-options {
    display: grid;
    position: sticky;
    gap: 5px;
}
.dashboard__sidebar-section-option {
    border-radius: 4px;
    grid-template-columns: 25px auto;
    grid-auto-flow: column;
    padding: 10px 15px;
    display: grid;
    gap: 8px;
    align-items: center;
    color: var(--sidebar-section-text);
    cursor: pointer;
}
.dashboard__sidebar-section-option-text {
    display: flex;
    justify-content: space-between;
}
.dashboard__sidebar-section-option:hover, .dashboard__sidebar-section-option.selected {
    color: var(--sidebar-section-text);
    background: var(--sidebar-section-hover);
}
.dashboard__sidebar-section-icon {
    margin-right: 8px;
    width: 25px;
}
.dashboard__sidebar-section-link {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%}
.dashboard__analytics-canvas-container {
    position: relative;
    max-width: 100% !important;
    width: 100%;
    min-height: 300px;
}
.dashboard__analytics-canvas {
    height: 100%}
.dashboard__analytics .header {
    color: var(--text-tertiary);
    font-size: 16px;
    font-weight: 600;
}
.dashboard__analytics-referrers {
    font-size: 12px;
    display: grid;
    column-gap: 15px;
    row-gap: 5px;
    width: 100%;
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
}
@media(min-width: 900px) {
    .dashboard__analytics-referrers {
    font-size: 16px;
}
}.dashboard__analytics-referrer-label {
    text-align: left;
    display: flex;
    align-items: center;
}
.dashboard__analytics-referrer-count {
    white-space: nowrap;
    color: var(--sidebar-section-text);
    text-align: right;
}
.dashboard__analytics-row {
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(3,  1fr);
}
@media(min-width: 900px) {
    .dashboard__analytics-row {
    grid-template-columns: repeat(2,  1fr);
}
}@media(min-width: 1400px) {
    .dashboard__analytics-row {
    grid-template-rows: auto;
    grid-template-columns: repeat(3,  1fr);
}
}.country-icon {
    max-width: 30px;
    margin-right: 8px;
    border: var(--border-subtle-thin);
}
:root {
    --sidebar-section-header:  #898799;
    --sidebar-section-text:  var(--light-blue-description);
    --sidebar-section-hover:  #F8F8FC;
    --input-background:  white;
}
[data-theme=dark] {
    --sidebar-section-header:  #a7a5b8;
    --sidebar-section-text:  #c7d3dc;
    --sidebar-section-hover:  #292d2f;
    --input-background:  #34363a;
}
.example pre {
    border: var(--border-subtle);
}
.example pre, .example code {
    background: var(--background) !important;
    color: var(--text) !important;
    font-family: var(--monospace-fonts);
    white-space: pre;
}
#showAvatarDiv {
    margin-top: 5px;
}
.dashboard__webhooks #token {
    word-break: break-all;
}
.dashboard__webhooks-show-token {
    color: var(--text);
}
.dashboard__header {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
}
.dashboard__content {
    padding: 15px 0;
}
.dashboard__content:first-of-type:not(.evenly-spaced) {
    padding: 0 0 15px 0;
}
.dashboard__container hr {
    background: var(--subtle-gray);
    height: 2px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.dashboard__container .dashboard__main-content-title {
    color: var(--light-blue-description);
}
.dashboard__container {
    min-height: 100vh;
    display: grid;
    border-bottom: var(--border-subtle);
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
@media(min-width: 900px) {
    .dashboard__container {
    grid-auto-flow: column;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
}
}@media(min-width: 1200px) {
    .dashboard__container {
    grid-auto-flow: column;
    grid-template-columns: 300px auto;
}
}.dashboard__main-content {
    background: var(--background-secondary);
    color: var(--text);
    position: relative;
    padding: 25px 15px;
    width: 100%;
    height: 100%}
@media(min-width: 1200px) {
    .dashboard__main-content {
    padding: 25px 35px;
}
}.dashboard__main-content hr {
    margin: 10px 0;
}
.dashboard__input-parent:first-of-type:not(.evenly-spaced) {
    padding-top: 0;
}
.dashboard__input-parent {
    display: grid;
    padding: 20px 0;
    gap: 10px;
    grid-template-columns: auto;
}
@media(min-width: 1200px) {
    .dashboard__input-parent {
    grid-template-columns: 300px auto;
    gap: 30px;
}
}.flipped-columns {
    grid-template-columns: 1fr;
}
.dashboard__input-description {
    color: var(--light-blue-description);
    font-size: 16px;
}
@media(min-width: 900px) {
    .dashboard__input-description {
    max-width: 500px;
}
}.dashboard__input-parent input, .dashboard__input-parent select, .dashboard__input, .dashboard__input-fake {
    font-family: "Karla", sans-serif;
    color: var(--text);
    border: var(--border-subtle);
    font-size: 16px;
    background: var(--input-background);
    border: var(--border-subtle);
}
.dashboard__input-parent input:disabled {
    background: gray;
}
.dashboard__input, .dashboard__input-fake {
    background: var(--input-background);
    width: 100%;
    margin: 0;
    padding: 10px;
}
.extra-short-input {
    max-width: 250px;
}
.dashboard__input-title {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--dark-blue-header);
}
.dashboard__vimeo-input {
    display: flex;
    align-items: center;
}
.dashboard__vimeo-input {
    display: none;
}
.vimeo-enabled .dashboard__vimeo-input {
    display: block;
}
.dashboard__vimeo-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.dashboard__vimeo-container input {
    margin-right: 8px;
}
.dashboard__container .content ul {
    margin-top: 0;
}
.dashboard__input-parent #taginput {
    margin-bottom: 8px;
}
.dashboard__input-button.submit {
    background: var(--theme-color);
    color: #fff;
}
[data-theme=dark] .dashboard__input-button.submit {
    color: #151044;
}
.dashboard__input-buttons {
    display: flex;
    grid-auto-flow: column;
    gap: 10px;
}
.dashboard__input-button {
    border-radius: 4px;
    font-size: 16px;
    border: var(--border-subtle-thin);
    font-weight: 600;
    padding: 15px 25px;
    background: var(--background);
    color: var(--text);
    transition: .1s ease-in-out;
}
.dashboard__input-button:hover {
    transform: translateY(-2px);
}
.dashboard__block {
    background: var(--background);
    border: var(--border-subtle-thin);
}
.dashboard__tabs {
    display: flex;
}
.dashboard__tab-container {
    border: var(--border-subtle-thin);
    background: var(--background-secondary);
    padding: 10px 15px;
    width: min-content;
    font-weight: bold;
    display: grid;
    gap: 5px;
    align-items: center;
    grid-auto-flow: row;
    cursor: pointer;
}
@media(min-width: 500px) {
    .dashboard__tab-container {
    grid-auto-flow: column;
    gap: 10px;
}
}.dashboard__tab-container:not(:first-child) {
    border-left: none;
}
.dashboard__tab-container.active {
    background: var(--background);
}
.dashboard__tab-data {
    color: var(--text-erased);
}
.dashboard__spaced-rows {
    display: grid;
    gap: 5px;
    grid-template-rows: min-content;
}
.maincon {
    padding: 20px;
    transform: translateY(-50px);
}
.maincon .content {
    min-height: 330px;
    position: relative;
    padding: 20px;
    background: #fff;
    display: flex;
    font: 600 16px "Karla", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    z-index: 0;
    flex-direction: column;
    flex-wrap: nowrap;
}
.maincon .content>div {
    width: 100%}
.page {
    overflow: hidden;
    position: relative;
}
.page .page-title {
    margin: 0 auto;
    max-width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.page .page-title p {
    font: 600 25px "Karla", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #7289da;
    text-align: center;
}
