<%- include('../Blocks/Header.ejs', { Astro, user, Page, Redirect: "/me", pageType: "" }) %>
<%- include('../Blocks/nav-bar.ejs') %>
<%- include('../Blocks/me-cards.ejs') %>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/components/icon.min.css' />
<div class="dashboard__widgets">
   <div class="dashboard__main-content">
      <div class="">
         <div class="dashboard__content">
            <h4 class="dashboard__header"><%= user.username %>'s Account</h4>
            <p class="dashboard__input-description">View some information about you!</p>
         </div>
         <hr />
         
         <!-- if user has an account: -->
         
         <% if(userData.get(user.id)) { %>
         <% let data = userData.get(user.id); %>
         
         <form method="POST" id="editform">
            <div class="dashboard__input-parent evenly-spaced">
               <div>
                  <label class="dashboard__input-title">Email
                  <span class="required-tag">*</span></label>
                  <p class="dashboard__input-description">The email you use to login to our panel.</p>
               </div>
               <div class="control">
                  <input class="override short-input dashboard__input"
                     id="prefix-input"
                     type="text"
                     name="email"
                     value="<%= data.email %>"
                     placeholder="hello@example.com">
               </div>
            </div>
            <hr />
            <div class="dashboard__input-parent">
               <div>
                  <label for="dashboard__input-library" class="dashboard__input-title"> Plans (currently disabled)
                  <span class="required-tag">*</span></label>
                  <p class="dashboard__input-description">The Plan you choose for our panel.</p>
               </div>
               <div class="control override">
                  <div class="select">
                     <select id="dashboard__input-library" name="plan" class="override" disabled>
                        <option value="">Choose one...</option>
                        <option value="test" 
                           >test</option>
                        <option value="free" selected
                           > Free </option>
                     </select>
                  </div>
               </div>
            </div>
            <hr />
            <input name="csrf" hidden type="text" value="null">
            <!-- <p class="required-tag">* = required field</p> -->
            <div class="dashboard__input-buttons">
               <button class="dashboard__input-button submit" type="submit" value="Submit">
               <i class="send outline icon"></i>
               Submit
               </button>
            </div>
         </form>
         
         <% } else { %>
         
         <!-- if user doesnt have an account -->
         
         
         
         <% } %>
         
      </div>
   </div>
</div>
</div>
<%- include('../Blocks/Footer.ejs') %>