<%- include('../Blocks/Header.ejs', { Astro, user, Page, Redirect: "/me/servers", pageType: "" }) %>
<%- include('../Blocks/nav-bar.ejs') %>
<%- include('../Blocks/me-cards.ejs') %>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/components/icon.min.css' />
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<div class="dashboard__widgets">
   <div class="dashboard__main-content">
      <div class="">
         <div class="dashboard__content">
            <h4 class="dashboard__header"><%= user.username %>'s Servers</h4>
            <p class="dashboard__input-description">A list of every server you own and its status.</p>
         </div>
         <hr />
         <script>
            window.onload = function() {
            refresh()
            }
            
            //debugger;

            
            let url="/api/user/<%= user.id %>/servers";
            let dynamicPart = document.getElementById("dynamicPart");
            
            async function refresh() {
            dynamicPart.innerHTML = "<center> Loading... </center>"
            $("#servers-body").empty();
            let info = await(await fetch(url)).json();
            console.log(info);
            
            if(info.servers) {
            console.log(info.servers);
            info=info.servers.map(g=>g);
            
            info.map(g => { document.getElementById("servers-body").insertRow(-1).innerHTML = `
            <tr>
            <td class="column1">${moment('' + g.attributes.created_at).format("MMM Do YY")}</td>
            <td class="column2"><code> ${g.attributes.identifier} </code> </td>
            <td class="column3">${g.attributes.name}</td>
            <td class="column4">null</td>
            <th class="column5">null</th>
            <th class="column6" onClick="location.href='/me/servers/${g.attributes.identifier}/manage';" > <i class="fa fa-cog" aria-hidden="true"> Manage</i> </th>
           
            </tr>
            
            `; });
            
            };
            
            dynamicPart.innerHTML = "";
            setTimeout(refresh,20000);
            }
         </script>
         <link rel='stylesheet' href='/css/table.css' />
         <table id="servers">
            <thead>
               <tr class="table100-head">
                  <th class="column1">Date</th>
                  <th class="column2">ID</th>
                  <th class="column3">Name</th>
                  <th class="column4">Price</th>
                  <th class="column5">null</th>
                  <th class="column6">null</th>
               </tr>
            </thead>
            <tbody id="servers-body">
         		<!-- table things :) -->
            </tbody>
         </table>
         <h4 class="dashboard__header" id="dynamicPart"> </h4>
      </div>
   </div>
</div>
</div>
<%- include('../Blocks/Footer.ejs') %>